<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Success</title>
    <link rel="stylesheet" th:href="@{/css/order/success.css}">
</head>
<body>
    <div th:replace="navbar.html"></div>
    <div class="confirmation-container">
        <img th:src="@{/image/check-mark.png}" alt="Success" class="success-icon">
        <h2>Order Success!</h2>
        <p>Order #<span th:text="${orderId}"></span></p>
        <p>Paid <span th:text="${'$' + #numbers.formatDecimal(totalPrice, 0, 2)}"></span></p>
        <div class="button-container">
            <a th:href="@{/order/{orderId}(orderId=${orderId})}" class="btn">Order Detail</a>
            <a th:href="@{/user/orders}" class="btn">Your Orders</a>
        </div>
    </div>
    <script th:src="@{/js/scripts.js}"></script>
</body>
</html>