<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${goods.name}">商品详情</title>
    <link rel="stylesheet" th:href="@{/css/goods_detail.css}">
</head>
<body>
    <div th:replace="navbar.html"></div>
    <div class="product-details">
        <div class="product-image">
            <img th:src="@{/image/{ipath}(ipath=${goods.image})}" alt="Product Image">
        </div>
        <div class="product-info">
            <h2 th:text="${goods.name}">商品名称</h2>
            <p th:text="${'$' + #numbers.formatDecimal(goods.price, 0, 2)}">商品价格</p>
            <div class="amount-selector">
                <input type="number" class="amount-input" th:data-purchase-limit="${goods.purchaseLimit}" th:data-stock="${goods.stock}" min="1" th:max="${goods.purchaseLimit>goods.stock?goods.stock:goods.purchaseLimit}" value="1">
                <span class="product-sale" th:text="${(goods.formattedSales) + ' bought in last month'}">Sales</span>
            </div>
            <div class="buttons">
                <button class="add-to-cart" th:data-goods-id="${goods.id}" onclick="clickButton('/seckill/cart', '/seckill/cart')">Add to Cart</button>
                <button class="buy-now" th:data-goods-id="${goods.id}" onclick="clickButton('/seckill/order/buyNow', '/seckill/order/')">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="product-description">
        <h3>Item Discription</h3>
        <p th:text="${goods.description}">商品详情描述</p>
    </div>
    <script th:src="@{/js/goods_detail.js}"></script>
</body>
</html>