<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>
<body>
    <div th:replace="navbar.html"></div>
    <section>
        <h2>Profile Details</h2>
        <p>
            <strong>Username:</strong> 
            <span id="username" th:text="${user.username}">exampleUser</span>
            <button onclick="showUsernameForm()">Change Username</button>
        </p>
        <div id="usernameForm" style="display:none;">
            <input type="text" id="newUsernameInput" placeholder="New Username">
            <button onclick="updateUsername()">Update</button>
        </div>
        
        <p><strong>Password: ********</strong> 
            <!-- Button to change password -->
            <button onclick="showPasswordForm()">Change Password</button>
        </p>
        <div id="passwordForm" style="display:none;">
            <input type="text" id="newPasswordInput" placeholder="New Password">
            <button onclick="updatePassword()">Update</button>
        </div>
        
        <p>
            <strong>Address:</strong> 
            <span id="address" th:text="${user.address}">exampleAddress</span>
            <button onclick="showAddressForm()">Change Address</button>
        </p>
        <div id="addressForm" style="display:none;">
            <input type="text" id="newAddressInput" placeholder="New Address">
            <button onclick="updateAddress()">Update</button>
        </div>

        <p><strong>Create Time:</strong> <span id="createTime" th:text="${user.createTime}">01/01/2021</span></p>

    </section>

    <section>
        <h2>Order History</h2>
        <!-- Link to the order history page -->
        <a th:href="@{/user/orders}">View Order History</a>
    </section>
    <footer>
        <form action="/seckill/logout" method="post">
            <button class="logout-btn" type="submit">Logout</button>
        </form>
    </footer>
    <script th:src="@{/js/profile.js}"></script>
</body>
</html>
