<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seckill.seckill.dao.CartMapper">
    <select id="selectCart" resultType="com.seckill.seckill.entity.Cart">
        select c.id, user_id, goods_id, amount, create_time, status
        from goods g
        join cart c
        on g.id = c.goods_id
        where c.user_id = #{userId}
        ;
    </select>

    <select id="updateCart">
        update cart
        set amount = amount + #{amount}
        where user_id = #{userId}
        and goods_id = #{goodsId}
        ;
    </select>

    <update id="insertCart">
        insert into cart (user_id, goods_id, amount, create_time, status)
        values (#{userId}, #{goodsId}, #{amount}, now(), 0)
        ;
    </update>
</mapper>