<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seckill.seckill.dao.GoodsMapper">

    <select id="selectGoods" resultType="com.seckill.seckill.entity.Goods">
        select id, name, price, stock, sales, purchase_limit, description, image
        from goods g
        limit #{offset}, #{limit}
        ;
    </select>

    <select id="selectSeckillGoods" resultType="com.seckill.seckill.entity.SeckillGoods">
        select g.id, name, price, stock, sales, purchase_limit, description, image, seckill_price, seckill_stock, start_time, end_time
        from goods g
        join seckill_goods sg
        on g.id = sg.goods_id
        where sg.end_time &gt; now()
        and g.id in 
        <foreach item="goodsId" collection="goodsIds" open="(" close=")" separator=",">
            #{goodsId}
        </foreach>
        ;
    </select>

    <select id="selectGoodsById" resultType="com.seckill.seckill.entity.Goods">
        select g.id, name, price, stock, sales, purchase_limit, description, image
        from goods g
        where g.id in 
        <foreach item="goodsId" collection="goodsIds" open="(" close=")" separator=",">
            #{goodsId}
        </foreach>
        ;
    </select>

    <select id="selectGoodsRows">
        select count(distinct id)
        from goods
        ;
    </select>

    <update id="updateGoodsStock">
        update goods
        set stock = stock + #{stock}
        where id = #{goodsId}
        ;
    </update>

    <update id="updateGoodsSales">
        update goods
        set sales = sales + #{sales}
        where id = #{goodsId}
        ;
    </update>
    
    <update id="updateSeckillGoodsStock">
        update seckill_goods
        set seckill_stock = seckill_stock + #{stock}
        where goods_id = #{goodsId}
        ;
    </update>
</mapper>